/* ==========================================================
   INPUTS
========================================================== */

.form-group{

    margin-bottom:22px;

}

.form-label{

    display:block;

    margin-bottom:10px;

    font-size:.88rem;

    font-weight:600;

    color:var(--text-light);

}

.form-control,
.form-select,
textarea{

    width:100%;

    height:48px;

    padding:0 16px;

    border-radius:14px;

    background:var(--surface);

    border:1px solid var(--border);

    color:#fff;

    transition:.22s;

}

textarea{

    height:130px;

    resize:vertical;

    padding:16px;

}

.form-control::placeholder,
textarea::placeholder{

    color:var(--text-muted);

}

.form-control:focus,
.form-select:focus,
textarea:focus{

    outline:none;

    border-color:var(--primary);

    box-shadow:
        0 0 0 4px rgba(99,102,241,.10);

}

.form-select{

    cursor:pointer;

}

.form-help{

    margin-top:8px;

    font-size:.82rem;

    color:var(--text-muted);

}

.form-error{

    margin-top:8px;

    color:#EF4444;

    font-size:.82rem;

}